@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Serilog Implementations</h1>
    <p>Learn about <a href="https://serilog.net/">Serilog</a>.</p>
    <hr>
    <button class="btn btn-primary">Log info to text file</button>
    <button class="btn btn-danger">Log warning to text Application Insighs</button>
    <button class="btn btn-critical">Log critial to text Application Insighs</button>
</div>
